language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - pytest --cov=src
  - coverage xml
  - python-codacy-coverage -r coverage.xml
  after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
