astroid==2.3.3
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
codacy-coverage==1.3.11
colorama==0.4.1
coverage==4.5.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.2.0
pluggy==0.13.0
py==1.8.0
pylint==2.4.3
pytest==5.2.2
pytest-cov==2.8.1
requests>=2.20.0
ruamel.yaml==0.16.5
six==1.13.0
urllib3>=1.23
wrapt==1.11.2
