---
type_regex: !!map
  deposit: "(^Incoming client.*)|(^Incoming currency exchange.*)"
  withdraw: "(^Withdraw application.*)|(Outgoing currency.*)"
  interest: "(^Delayed interest.*)|(^Late payment.*)|(^Interest income.*)|(^Cashback.*)"
  fee: "(^FX commission)"

csv_fieldnames:
  booking_date: 'Date'
  booking_date_format: '%Y-%m-%d %H:%M:%S'
  booking_details: 'Details'
  booking_id: 'Transaction ID'
  booking_type: 'Details'
  booking_value: 'Turnover'
  booking_currency: 'Currency'
