# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.1.4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U pipenv
        pipenv install --system --dev --deploy
    - name: Format with black
      run: |
        black -l 119 --check --diff .
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings.
        flake8 . --count --exit-zero --max-complexity=10 --statistics
    - name: Code Climate Coverage Action
      uses: paambaati/codeclimate-action@v2.7.4
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageCommand: |
          pytest -v --doctest-modules --cov=src --cov-report=xml --junit-xml=pytest-result-${{ matrix.python-version }}.xml
        coverageLocations: 'coverage.xml:coverage.py'
        debug: true
    - name: Report unit test results
      uses: ScaCap/action-surefire-report@v1.0.5
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        report_paths: '**/pytest-result-*.xml'
